cloud/nodered_data/.flows.json.backup
[
    {
        "id": "346ce5c6669ad880",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2afed3201d4d124f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "vernemq",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eae8db9d03c7f3cc",
        "type": "mqtt out",
        "z": "346ce5c6669ad880",
        "name": "",
        "topic": "unlock/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2afed3201d4d124f",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "de7ed56ee3c0038f",
        "type": "switch",
        "z": "346ce5c6669ad880",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "publish",
                "vt": "str"
            },
            {
                "t": "istype",
                "v": "json",
                "vt": "json"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "7863bb734e9f8334"
            ],
            [
                "97b7d2381ff5cd18",
                "245423963eee4350"
            ],
            [
                "10f3764cee5b96d2",
                "245423963eee4350"
            ]
        ]
    },
    {
        "id": "7863bb734e9f8334",
        "type": "debug",
        "z": "346ce5c6669ad880",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 20,
        "wires": []
    },
    {
        "id": "10f3764cee5b96d2",
        "type": "debug",
        "z": "346ce5c6669ad880",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "ece545796b334f26",
        "type": "mqtt in",
        "z": "346ce5c6669ad880",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "json",
        "broker": "2afed3201d4d124f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "de7ed56ee3c0038f"
            ]
        ]
    },
    {
        "id": "97b7d2381ff5cd18",
        "type": "debug",
        "z": "346ce5c6669ad880",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "245423963eee4350",
        "type": "function",
        "z": "346ce5c6669ad880",
        "name": "Add name",
        "func": "var name=msg.topic.split('/')[1]\nnode.warn(\"Name:\" + name);\nmsg.payload.name=name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 100,
        "wires": [
            [
                "eae8db9d03c7f3cc"
            ]
        ]
    }
]